* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.container {
	padding: 0px 100px;
}
		
			/*HEADER*/

.tong-quan {
	display: flex;
	padding-top: 20px;
	justify-content: space-around;
	align-items: center;
}

.search select, input {
	height: 40px;
	font-size: 18px;
}

.search select {
	width: 100px;
}

.search input {
	width: 300px;
	position: relative;
}

.search i{
	position: absolute;
	right: 420px;
	top: 30px;
}

i {
	color: white;
}
.header-menu {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	background-color: #222;
	color: white;
	font-weight: 500;
	align-items: center;
	width: 100%;
	height: 80px;
}

.menu1 {
	margin-left: -11px; 
	width: 180px;
	height: 80px;
	padding-left: 25px;
	line-height: 80px;
	background-color: red;
}


.menu2 {
	position: relative;
} 

.menu2 .mini-menu {
	list-style-type: none;
}

.menu2 .mini-menu > li {
	text-decoration: none;
	float: left;
	margin-right: 60px;
	display: block;
	height: 80px;
	line-height: 80px;
}

.sub-menu {
	position: absolute;
	background-color: #222;
	width: 150px;
	height: 200px;
	top: 49px;
	display: none;
	list-style-type: none;
	transition: all 1s;
}

.sub-menu li {
	padding: 0px 100px;
	height: 40px;
}

.mini-menu > li:hover {
	color: red;
	transition: 1s;
}

.mini-menu li:hover .sub-menu{
	display: block;
}

		
			/*CONTENT*/
	/*content slide*/

.content-slide {
	display: flex;
}

.menu-products {
	width: 206px;
	background-color: white;
}

.menu-products ul{
	list-style-type: none;
}

.menu-products ul li {
	position: relative;
}
.menu-products ul li a{
	/*position: relative;*/
	text-decoration: none;
	color: #444;
	font-weight: 500;
	display: block;
	height: 30px;
	padding: 20px 10px 0px;
	line-height: 30px;
	border: 1px solid;
}

.menu-products-2 {
	position: absolute;
	left: 206px;
	border: 1px solid;
	top: 0px;
	width: 200px;
	display: none;
	/*opacity: 0;*/

	transition: all 1s;
	z-index: 2;
	background: linear-gradient(to top, #A0E8AF, #86BAA1);
}

.menu-products-2 li {
	display: block;
	height: 30px;
	padding: 20px 10px 0px;
	border: 1px solid;
}

.menu-products li:hover .menu-products-2{
	display: block;
	/*opacity: 1;*/
}

.menu-products li:hover {
	background-color: #DDD;
	transition: 0.5s;
}

.slide {
	width: 825px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.slide-1 {
	width: 9999px;
}

.slide:hover i {
	/*display: block;*/
	opacity: 1;
}

.slide-img {
	float: left;
}

.slide i {
	position: absolute;
	top:200px;
	color: #333;
	/*display: none;*/
	opacity: 0;
	transition: all 1s;
}

.slide #i-left {
	left: 20px;
}

.slide #i-right {
	right: 20px;
}

	/*Content Exclusive Products*/

.exclusive-products {
	margin: 100px 0px;
	/*height: 200*/
	/*border-bottom: 1px solid;*/
	border-color: #AAA;
}

.exclusive-products i {
	color: black;
}

.exclusive-products-1 {
	width: 100%;
	display: flex;
	border-bottom: 1px solid;
	border-color: #AAA;
}

.product-type {
	 margin-left: 300px; 
	 list-style-type: none;
}

.product-type li {
	display: inline-block;
	margin-left: 15px; 
}

.product-type li a {
	text-decoration: none;
	line-height: 45px;
	color: #333;
	font-weight: 500;
	font-size: 18px;
	transition: all 0.8s;
}

.product-type a:hover {
	color: red;
}

.exclusive-products-2 {
	display: flex;
	overflow: hidden;
	position: relative;
}

.product-sale {
	width: 200px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #AAA;
	margin: 50px 90px 50px 0px;
}

.img-product {
	width: 200px;
	height: 235px;
	position: relative;
	transition: 1s;
}

.action-box {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 100px;
	transform: scale(0.5);
	opacity: 0;
	transition: all 1s;
	left: 30px;
}

.action-box ul {
	list-style-type: none;
}

.action-box li {
	width: 30px;
	height: 30px;
	background-color: white;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
}

.action-box li a {
	text-decoration: none;
	display: block;
	line-height: 30px;
	color: black;
	transition: 0.8s;
}

.action-box i {
	color: black;
}

.img-product:hover .action-box {
	opacity: 1;
	transform: scale(1);
}

.img-product:hover {
	opacity: 0.7;
}

.action-box li a:hover {
	background-color: red;
	color: white;
}

.action-box li a:hover i {
	color: white;
}

.info-product {
	margin: 20px 0px;
	text-align: center;
}

.name-product {
	font-size: 20px;
	font-weight: 600;
	color: #676; 
}

.new-price {
	font-size: 17px;
	padding-right: 10px;
	color: red;
	font-weight: 600;
}

.old-price {
	text-decoration: line-through;
	padding-right: 10px;
	color: #555;
}

.sale-percent {
	color: green;
	font-weight: 500;
}

.icon-left-right-product-sale {
	position: absolute;
	top: 180px;	
}

.exclusive-products-2 .fa-angle-left {
	left: 5px;
}

.exclusive-products-2 .fa-angle-right {
	right: 27px;
}

	/*div-sale-huge*/

.div-sale-huge {
	margin: 100px 0px;
	/*border-bottom: 1px solid;*/
	padding-bottom: 50px;
	border-color: #AAA;
	display: flex;
}

.div-sale-huge-1 {
	margin-right: 20px;
}

.div-sale-huge-1, .div-sale-huge-2 {
	position: relative;
	overflow: hidden;
}

.sale-content-1, .sale-content-2 {
	position: absolute;
	top: 120px;
	right: 20px;
	/*transform: scale(0);*/
	transform: translate(180px);
	opacity: 0;
	transition: all 1s;
}

.div-sale-huge-1:hover .sale-content-1 {
	transform: translate(0px);
	opacity: 1;
}

.div-sale-huge-2:hover .sale-content-2 {
	transform: translate(0px);
	opacity: 1;
}


	/*deal-of-the-days*/

.deal-of-the-days-title {
	display: flex;
	border-bottom: 1px solid;
	border-color: #AAA;
	/*margin: 50px 0px;*/
}

.deal-of-the-days-title p {
	margin-left: 600px;
	font-size: 20px;
	line-height: 50px;
}

.deal-of-the-days-title i {
	color: red;
	margin-right: 10px;
}

.deal-of-the-days-product {
	display: flex;
}


	/*featured-products*/

.products-content {
	line-height: 50px;
	border-bottom: 1px solid;
	border-color: #AAA;
}

.products {
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;

}

.products-container {
	display: flex;
	width: 300px;
	height: 150px;
	align-items: center;
	border: 1px solid;
	border-color: #CCC;
	border-radius: 10px;
	margin: 30px;
}

.product-img {
	padding: 0px 15px; 
}

.product-infomation {
	padding-bottom: 10px;
}

.product-infomation p:first-child {
	font-size: 18px;
	font-weight: 500;
}

.product-infomation .p-money {
	color: red;
	font-size: 18px;
}

.btnAdd {
	width: 120px;
	height: 40px;
	border-radius: 10px;
	color: red;
	background-color: white;
	font-size: 18px;
    border: 1px solid #FF324D;
    /*color: #fff;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    transform: scale(0.9);
    transition: all 0.5s;
}

.btnAdd:hover {
	transform: scale(1);
	background-color: red;
	color: white;
}

	/*our-brands*/
.our-brands .our-brands-title {
	border-bottom: 1px solid;
	border-color: #AAA;
}

.our-brands-title h1 {
	line-height: 50px;
}

.our-brands-img {
	display: flex;
	margin-top: 50px;
	margin-bottom: 100px;
}

.our-brands-img img {
	padding-right: 50px;
	opacity: 0.7;
	transition: all 0.5s;
}

.our-brands-img img:hover {
	opacity: 1;
}

	/*subscribe*/
.subscribe {
	width: 100%;
	height: 120px;
	background-color: #222;
	display: flex;
	justify-content: space-around;
	line-height: 120px;
}

.subscribe h1 {
	color: white;
}

.subscribe input {
	width: 300px;
	height: 40px;
}

.subscribe button {
	height: 50px;
}
			/*FOOTER*/
.footer-1 {
	margin-top: 50px;
	margin-left: 50px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

.footer-1 ul {
	padding-top: 20px;
	list-style-type: none;
	font-weight: 500;
	color: #666;
}

.footer p {
	padding-top: 10px;
	color: #666;
	font-weight: 500;
	padding-bottom: 5px;
}

.footer-1 ul li {
	padding-bottom: 5px;
}

.footer-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 50px;
	margin-top: 50px;
	border-top: 1px solid;
	border-color: #AAA; 
}

.footer-2 div {
	margin: 50px 30px 50px 0px;
}