<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="component-product-sale.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="product-sale">
		<div class="img-product">
			<img src="product.jpg" width="200px">
			<div class="action-box">
				<ul>
					<li><a href="#"><i class="fa fa-cart-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-search-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="info-product">
			<p class="name-product">White Dress</p>
			<p><span class="new-price">$69.00</span><span class="old-price">$80.00</span><span class="sale-percent">20% Off</span></p>
		</div>
	</div>
</body>
</html>














